<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/todolist.css">
<title>Insert title here</title>
</head>
<body>
	<div id="container">
		<div>
			<h1>My To Do List</h1>
		</div>
		<form action="">	
			<div>
				<input type="text" class="text-input" placeholder="새로운 할일"> 
			</div>
			<button>추가</button>
		</form>
		<div class="todolist">
			<ul>
			</ul>
		</div>
	</div>
	<script type="text/JavaScript" src="/static/css/js/todolist.js"></script>
</body>
</html>