#container {
    display: flex;
    flex-direction:  column;;
    justify-content: center;
    align-items: 0px auto;
    width: 1000px;
}

.todolist-title {
	display: flex;
	justify-content: center;
	align-items: center;
	background: green;
	color: aqua;
}

.text-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}